.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 4rem;
    min-height: 70vh;
}

@media screen and (max-width:540px) {
    .cards{
        padding: 1rem 0.5rem;
    }
}